__pycache__/
*.dmb
*.rsc
*.int
*.lk
*.zip
*.ipynb
*.pkl
*.DS_Store
.idea/
data/embeddings/*
data/emnlp19-BASIL/
data/inputs/cim/*
data/inputs/sent_clf/*
data/inputs/seq_sent_clf/*
data/inputs/tok_clf/*
data/splits/*
experiments/adapt_dapt_tapt/*
Private/preprocessing_debug.sh
Private/
Private/Reports/reports/
